<div class="pcoded-content">
        <div class="pcoded-inner-content">
          <!-- Main-body start -->
          <div class="main-body">
            <div class="page-wrapper">
      
              <div class="page-body">
                <div class="row">
      
                  <div class="col-xl-12 col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <h5>New Template</h5>
                        <div class="card-header-right">
                        </div>
                        <div class="m-t-15">
                          <label class="text-muted">Placeholders &nbsp;<span class="font-italic d-inline">(Drag the placeholders into the content area to indicate a placeholder)</span>:</label>
                        </div>
                        <div class="m-t-15">
                            <label class="badge badge-warning mx-1" *ngFor="let placeholder of placeholders;"
                                draggable="true"
                                (dragstart)="handleDragStart($event)"
                                [attr.data-value]="placeholder.value">
                            {{placeholder.name}} </label>
                        </div>
                      </div>
                      <form *ngIf="template"
                        class="md-float-material j-forms" #templateForm="ngForm" (ngSubmit)="templateForm.form.valid && submitForm()">
                        <div class="card-block p-3">
                          <div class="edit-info">
                            <div class="col-sm-12">
                              <div class="alert alert-danger background-danger" *ngIf="name.dirty && name.errors?.required">Template name is required</div>
                              <div class="alert alert-danger background-danger" *ngIf="name.dirty && name.errors?.maxlength">Template name cannot be more than 255 characters</div>
                              <div class="alert alert-danger background-danger" *ngIf="content.dirty && content.errors?.required">Template content is required</div>
                            </div>
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="general-info j-forms">
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <div class="j-row">
                                        <div class="span6 unit">
                                          <div class="input">
                                            <input [ngClass]="{'form-control-danger': name.dirty && name.invalid}"
                                              [ngModelOptions]="{updateOn: 'blur'}" type="text" class="form-control"
                                              #name="ngModel" placeholder="Template Name" name="name" maxlength="255"
                                              [(ngModel)]="template.name" required>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="unit">
                                          <div class="input">
                                              <textarea rows="7" cols="5" style="height: unset" placeholder="Template Content, Drag placeholders from above"
                                              #content="ngModel" name="content" [(ngModel)]="template.content"></textarea>
                                          </div>
                                      </div>
                                    </div>
                                    <!-- end of table col-lg-6 -->
                                  </div>
                                  <!-- end of row -->
                                  <div class="text-center">
                                    <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10" [disabled]="loading">
                                      {{ template?.templateId ? 'Update' : 'Create' }}
                                    </button>
                                    <a [routerLink]="['..']" id="edit-cancel" class="btn btn-default waves-effect">Cancel</a>
                                  </div>
                                </div>
                                <!-- end of edit info -->
                              </div>
                              <!-- end of col-lg-12 -->
                            </div>
                            <!-- end of row -->
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- Recent Orders end -->
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>