<div class="card-block p-3">
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th *ngIf="user.userType === userTypes.General else companyHeader">Company</th>
        <ng-template #companyHeader>
          <th>Recipient</th>
        </ng-template>

        <th>Date</th>
        <th>Status</th>
        <th>Details</th>
      </tr>
      <tr *ngIf="deliveries.length === 0">
        <td colspan="4" class="text-center">No deliveries yet</td>
      </tr>
      <tr *ngFor="let delivery of deliveries;">
        <td *ngIf="user.userType === userTypes.General else companyRow">{{delivery.companyName}}</td>
        <ng-template #companyRow>
          <td>{{delivery.firstName}} {{delivery.lastName}}</td>
        </ng-template>

        <td>{{delivery.createdAt | date: 'dd-MM-yyyy'}}</td>
        <td>
          <span class="label label-warning" *ngIf="delivery.statusCode === statusCodes.Scheduled">Scheduled</span>
          <span class="label label-success" *ngIf="delivery.statusCode === statusCodes.Delivered">Delivered</span>
          <span class="label label-danger" *ngIf="delivery.statusCode === statusCodes.Expired">Expired</span>
        </td>
        <td>
          <button (click)="emitDelivery(delivery)" class="btn btn-sm btn-outline-primary" *ngIf="delivery.additionalRecipientText || delivery.additionalCompanyText">
            View
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>