<section class="register p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form class="md-float-material j-forms" #deliveryForm="ngForm" (ngSubmit)="aProductSelected && deliveryForm.form.valid && addDeliveryInfo()">
            <div class="text-center">
              <h3 class="logo">ChipDump</h3>
            </div>
            <div class="auth-box">

              <div class="col-sm-12">
                <div class="alert alert-danger background-danger" *ngIf="(street.dirty || deliveryForm.submitted) && street.errors?.required">Street
                  is required</div>
                <div class="alert alert-danger background-danger" *ngIf="(city.dirty || deliveryForm.submitted) && city.errors?.required">City
                  is required</div>
                <div class="alert alert-danger background-danger" *ngIf="(zip.dirty || deliveryForm.submitted) && zip.errors?.required">Zip
                  code is required</div>
                <div class="alert alert-danger background-danger" *ngIf="deliveryForm.submitted && !aProductSelected">
                  At least one product is required
                </div>
                <div class="alert alert-danger background-danger" *ngIf="(deliveryInstruction.dirty || deliveryForm.submitted) && (deliveryInstruction.errors?.required || !deliveryInstruction.value?.trim().length)">
                  Delivery Instruction is required
                </div>

                <div class="alert alert-danger background-danger" *ngIf="deliveryForm.submitted &&  !getEstimateInfo.dirty">
                  You have not specified if you want free estimates
                </div>

                <div class="alert alert-danger background-danger" *ngIf="deliveryForm.submitted &&  !self_pickup.dirty">
                    You have not specified if you will be available tp pick up wood
                </div>

                <div class="alert alert-danger background-danger"
                *ngIf="(deliveryForm.dirty || deliveryForm.submitted) && ( toBoolean(deliveryInfo.preferences.getEstimateInfo) && !deliveryInfo.preferences?.service_needs?.length )">
                  Service Needs are required since you opted in.
                </div>
              </div>


              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left">Delivery Address</h3>
                </div>
              </div>

              <div class="unit">
                <div class="input">
                  <input ngx-google-places-autocomplete [ngClass]="{'form-control-danger': street.dirty && street.invalid}"
                    type="text" placeholder="Street" #street="ngModel" id="street" name="street" [(ngModel)]="deliveryInfo.address.street"
                    (onAddressChange)="setUserAddress($event)" required autocomplete="off" />
                </div>
              </div>
              <div class="unit">
                <div class="input">
                  <input [ngClass]="{'form-control-danger': city.dirty && city.invalid}" [ngModelOptions]="{updateOn: 'blur'}"
                    type="text" placeholder="City" #city="ngModel" id="city" name="city" [(ngModel)]="deliveryInfo.address.city"
                    (change)="updateLatLon($event)" required>
                </div>
              </div>
              <div class="unit">
                <label class="input select">
                  <select name="state" [(ngModel)]="deliveryInfo.address.state" (change)="updateLatLon($event)" required>
                    <option *ngFor="let state of stateArray;" value="{{state.abbr}}">{{state.name}}</option>
                  </select>
                  <i></i>
                </label>
              </div>
              <div class="unit">
                <div class="input">
                  <input [ngClass]="{'form-control-danger': zip.dirty && zip.invalid}" [ngModelOptions]="{updateOn: 'blur'}"
                    type="text" #zip="ngModel" id="zip" placeholder="Zip Code" name="zip" [(ngModel)]="deliveryInfo.address.zip"
                    (change)="updateLatLon($event)"
                    required>
                </div>
              </div>

              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left">Delivery Instructions</h3>
                </div>
              </div>

              <div class="unit">
                <textarea
                    [ngClass]="{'form-control-danger': deliveryInstruction.dirty && (deliveryInstruction.invalid || !deliveryInstruction.value?.trim()?.length)}"
                    type="text" placeholder="Your delivery preference" required
                    #deliveryInstruction="ngModel" name="deliveryInstruction"
                    [(ngModel)]="deliveryInfo.address.deliveryInstruction" rows="5">
                  {{ deliveryInfo.address.deliveryInstruction }}
                </textarea>
              </div>

              <div class="divider gap-bottom-25"></div>

              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left required" required>Product selection</h3>
                </div>
              </div>

              <div class="unit" *ngFor="let product of products; let i = index">
                <label class="input select">
                  <span>Want {{product.productDesc.replace(' OK?', '')}}?</span>
                  <select name="product{{i}}" [(ngModel)]="deliveryInfo.userProducts[i].status">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                  </select>
                  <i></i>
                </label>
              </div>

              <div class="divider gap-bottom-25"></div>

              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left">Do you need a free, written estimate for tree service (trimming or removal or for landscaping services)?</h3>
                </div>
              </div>
              <div class="unit">
                  <label class="label--unset mr-2">
                    No
                    <input name="getEstimateInfo" #getEstimateInfo="ngModel"
                    type="radio" value="false" class="ml-2" required
                    [(ngModel)]="deliveryInfo.preferences.getEstimateInfo">
                  </label>


                  <label class="label--unset ml-2">
                    Yes
                    <input name="getEstimateInfo" #getEstimateInfo="ngModel"
                    type="radio" value="true" class="ml-2" required
                    [(ngModel)]="deliveryInfo.preferences.getEstimateInfo">
                  </label>
              </div>

              <ng-container *ngIf="toBoolean(deliveryInfo.preferences.getEstimateInfo)">
                <div class="row m-b-20">
                    <div class="col-md-12">
                      <h3 class="text-left">
                          Please tell us a little bit about your tree service need(s).
                      </h3>
                    </div>
                  </div>

                <div class="unit">
                  <textarea
                    [ngClass]="{ 'form-control-danger': deliveryForm.dirty &&  !serviceNeeds?.length }"
                    style="height: unset"
                    #serviceNeeds="ngModel"
                    placeholder="Your Tree Service need(s)"
                    name="service_needs" rows="10" [(ngModel)]="deliveryInfo.preferences.service_needs">
                    {{ deliveryInfo.preferences?.service_needs }}
                  </textarea>
                </div>
              </ng-container>

              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left">
                      Would you like to come to the jobs to pick up wood? (With a truck and/or trailer only, please).
                  </h3>
                </div>
              </div>

              <div class="unit">
                  <label class="label--unset mr-2">
                    No
                    <input name="self_pickup" #self_pickup="ngModel"
                    type="radio" value="false" class="ml-2" required
                    [(ngModel)]="deliveryInfo.preferences.self_pickup">
                  </label>


                  <label class="label--unset ml-2">
                    Yes
                    <input name="self_pickup" #self_pickup="ngModel"
                    type="radio" value="true" class="ml-2" required
                    [(ngModel)]="deliveryInfo.preferences.self_pickup">
                  </label>
              </div>


              <div class="j-row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
                    [disabled]="loading">Register</button>
                </div>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
