<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form class="md-float-material j-forms" #loginForm="ngForm" (ngSubmit)="logIn()" novalidate>
            <div class="text-center">
              <h3 class="logo">Green Tree</h3>
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">Sign In</h3>
                </div>
              </div>
              <hr />
              <div class="unit">
                <div class="input" class="form-group" [ngClass]="{'has-danger': email.dirty && email.invalid}">
                  <input [ngClass]="{'form-control-danger': email.dirty && email.invalid}" [ngModelOptions]="{updateOn: 'blur'}"
                    type="email" id="email" name="email" #email="ngModel" placeholder="Primary Email" [(ngModel)]="authUser.email" required email>
                    <div class="col-form-label" *ngIf="email.errors">
                      {{email.blur}}
                      <div *ngIf="email.dirty && email.errors?.required">Email is required</div>
                      <div *ngIf="email.dirty && email.errors?.email">Email is invalid</div>
                    </div>
                </div>
              </div>
              <div class="unit" class="form-group" [ngClass]="{'has-danger': password.dirty && password.invalid}">
                <div class="input">
                  <input [ngClass]="{'form-control-danger': password.dirty && password.invalid}" [ngModelOptions]="{updateOn: 'blur'}"
                    type="password" id="password" name="password" #password="ngModel" placeholder="Password" [(ngModel)]="authUser.password" required minlength="5">
                  <div class="col-form-label" *ngIf="password.errors">
                      <div *ngIf="password.dirty && password.errors?.required">Password is required</div>
                      <div *ngIf="password.dirty && password.errors?.minlength">Password is too short</div>
                    </div>
                </div>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-12">
                  <div class="checkbox-fade fade-in-primary d-">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr">
                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                      </span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                  <div class="forgot-phone text-right f-right">
                    <a href="forgot-password.html" class="text-right f-w-600 text-inverse">
                      Forgot Password?</a>
                  </div>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
                  [disabled]="!loginForm.form.valid || loading">Sign in</button>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-md-8">
                  <p class="text-inverse text-left m-b-0">Dont have an account yet?</p>
                </div>
                <div class="col-md-4">
                  <p class="text-inverse text-right">
                    <b>
                      <div>
                        <a [routerLink]="['/user-registration']">Register as User</a>
                      </div>
                      <div>
                        <a [routerLink]="['/company-registration']">Register as Tree Service Company</a>
                      </div>
                    </b>
                  </p>
                </div>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>