<div class="pcoded-content">
        <div class="pcoded-inner-content">
          <!-- Main-body start -->
          <div class="main-body">
            <div class="page-wrapper">
      
              <div class="page-body" *ngIf="user">
                <div class="row">
      
                  <div class="col-xl-12 col-md-12">
                    <div class="card">
                      <div class="card-header">
                      <h5 class="card-header-text">About User</h5>
                      </div>
                      <div class="card-block">
                        <div class="view-info">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="general-info">
                                <div class="row">
                                  <div class="col-lg-12 col-xl-6">
                                    <div class="table-responsive">
                                      <table class="table m-0">
                                        <tbody>
                                          <tr>
                                            <th scope="row">First Name</th>
                                            <td>{{user?.firstName}}</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Last Name</th>
                                            <td>{{user?.lastName}}</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Primary Phone number</th>
                                            <td>{{user?.phones[0]?.phoneNumber || 'N/A' }}</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Cell Phone number</th>
                                            <td>{{user?.phones[1]?.phoneNumber}}</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Work Phone number</th>
                                            <td>{{user?.phones[2]?.phoneNumber}}</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Primary Email Address</th>
                                            <td>{{user?.emails[0]?.emailAddress || 'N/A'}}</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Secondary Email Address</th>
                                            <td>{{user?.emails[1]?.emailAddress}}</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <!-- end of table col-lg-6 -->
      
                                  <!-- end of table col-lg-6 -->
                                </div>
                                <!-- end of row -->
                              </div>
                              <!-- end of general info -->
                            </div>
                            <!-- end of col-lg-12 -->
                          </div>
                          <!-- end of row -->
                        </div>
                        <!-- end of view-info -->
                      </div>
                      <!-- end of card-block -->
                    </div>
                  </div>
      
                 <app-delivery-preference
                 [readonly]="true"
                 [userProducts]="userProducts"></app-delivery-preference>
                  <!-- Recent Orders end -->
                </div>
      
      
                <app-user-profile-address 
                [readonly]="true"
                [address]="primaryAddress"></app-user-profile-address>
      
                <div class="row">
                  <div class="col-xl-12 col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="card-header-text text-danger">Deactivate Account</h5>
                      </div>
                      <div class="card-block">
                        <div class="view-info">
                          <div class="row">
                            <div class="col-12">
                              <p>
                                Deactivating this account will render the user unable to log in, and no longer appear in searches.
                              </p>
                              <button class="btn btn-danger waves-effect waves-light m-r-20" 
                              [disabled]="loading"
                              [swal]="deactivateSwal"
                              (confirm)="deactivateUser()"
                              >
                                  <i class="icofont icofont-trash"></i> Deactivate?
                              </button>
                            </div>
                            <!-- end of col-lg-12 -->
                          </div>
                          <!-- end of row -->
                        </div>
                        <!-- end of view-info -->
                        
                      </div>
                      <!-- end of card-block -->
                    </div>
                  </div>
                </div>
      
              </div>

              <div *ngIf="userLoading" 
              class="d-flex justify-content-center align-items-center"
              style="height: 60vh; width: 80%; margin: 15% auto;">
                  <img src="assets/spinner_blue_white_trans.svg" 
                  style="width: 50%; object-fit: contain;"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <swal
        #deactivateSwal
        title="Deactivate account?"
        text="This cannot be undone"
        type="warning"
        confirmButtonClass="btn btn-danger mr-2"
        confirmButtonColor="red"
        confirmButtonText="Confirm deactivation"
        [showCancelButton]="true"
        [focusCancel]="true">
      </swal>
      