<div class="pcoded-content">
	<div class="pcoded-inner-content">
		<!-- Main-body start -->
		<div class="main-body">
			<div class="page-wrapper">

				<div class="page-body">
					<div class="row">

						<div class="col-xl-12 col-md-12">
							<div class="card">
								<div class="card-header">
									<h5>Notifications</h5>
								</div>
								<div class="card-block p-3">
									<div class="table-responsive">
										<table class="table">
											<tr>
												<th>Date</th>
												<th>Company</th>
												<th>Message</th>
											</tr>
											<tr>
												<td>06-01-2017</td>
												<td>Jane Elliott</td>
												<td>New Delivery request</td>
											</tr>
											<tr>
												<td>06-04-2017</td>
												<td>Jane Elliott</td>
												<td>New Delivery request</td>
											</tr>
											<tr>
												<td>06-07-2017</td>
												<td>Jane Elliott</td>
												<td>New Delivery request</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>