# This is a sample build configuration for JavaScript.
# Check our guides at https://confluence.atlassian.com/x/14UWN for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: betaquick/node_sonar

pipelines:
  default:
  - step:
      caches:
      - node
      script: # Modify the commands below to build your repository.
      - npm install
      - npm run lint
      - npm run build
      # - npm run test-coverage
      # - sonar-scanner
  branches:
    master:
    - step:
        name: Deploy to S3
        deployment: prod
        image: betaquick/awscli:bleeding
        script:
        - npm install
        - npm run lint
        - npm run build:prod
        # - sonar-scanner
        # - aws s3 sync --delete dist/. s3://gracetreeservices.com
