<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-header-text">Delivery Address and Delivery Instructions</h5>
        <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right"
          (click)="editMode=!editMode">
          <i class="icofont icofont-edit"></i>
        </button>
      </div>
      <div class="card-block user-desc">

        <div class="view-desc" *ngIf="!editMode else addressEdit">
          <div class="row">
            <div class="col-lg-12 col-xl-6">
              <div class="table-responsive">
                <table class="table m-0">
                  <tbody>
                    <tr>
                      <th scope="row">Street</th>
                      <td>{{ address?.street }}</td>
                    </tr>
                    <tr>
                      <th scope="row">City</th>
                      <td>{{ address?.city }}</td>
                    </tr>
                    <tr>
                      <th scope="row">State</th>
                      <td>{{ address?.state }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Zipcode</th>
                      <td>{{ address?.zip }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- end of table col-lg-6 -->

            <!-- end of table col-lg-6 -->
          </div>
          <br />
          <strong>Delivery Instructions</strong>
          <p>{{ address?.deliveryInstruction || 'N/A'}}</p>
        </div>
        <ng-template #addressEdit>
          <div class="edit-desc">
            <div class="row">
              <div class="col-lg-12">
                <form #addressForm="ngForm" (ngSubmit)="addressForm.form.valid && updateAddress()">
                  <div class="general-info j-forms">
                    <div class="col-sm-12">
                      <div class="alert alert-danger background-danger" *ngIf="street.dirty && street.errors?.required">
                        Street
                        is required</div>
                      <div class="alert alert-danger background-danger" *ngIf="state.dirty && state.errors?.required">
                        State
                        is required</div>
                      <div class="alert alert-danger background-danger" *ngIf="city.dirty && city.errors?.required">City
                        is required</div>
                      <div class="alert alert-danger background-danger" *ngIf="errorMessage">{{errorMessage}}</div>
                    </div>
                    <div class="col-lg-6">
                      <div class="unit">
                        <div class="input">
                          <input ngx-google-places-autocomplete [ngClass]="{'form-control-danger': street.dirty && street.invalid}"
                            [ngModelOptions]="{updateOn: 'blur'}" type="text" placeholder="Street" #street="ngModel"
                            name="street" [(ngModel)]="address.street" appPlacesAutocomplete
                            (onAddressChange)="setUserAddress($event)" autocomplete="off" required>
                        </div>
                      </div>
                      <div class="unit">
                        <div class="input">
                          <input [ngClass]="{'form-control-danger': city.dirty && city.invalid}"
                            [ngModelOptions]="{updateOn: 'blur'}" type="text" placeholder="City" #city="ngModel" (change)="updateLatLon($event)"
                            name="city" [(ngModel)]="address.city" required>
                        </div>
                      </div>
                      <div class="unit">
                        <label class="input select">
                          <select [ngClass]="{'form-control-danger': state.dirty && state.invalid}"
                            [ngModelOptions]="{updateOn: 'blur'}" name="state" #state="ngModel" name="state" (change)="updateLatLon($event)"
                            [(ngModel)]="address.state">
                            <option *ngFor="let state of stateArray;" value="{{state.abbr}}">{{state.name}}</option>
                          </select>
                          <i></i>
                        </label>
                      </div>
                      <div class="unit">
                        <div class="input">
                          <input [ngClass]="{'form-control-danger': zip.dirty && zip.invalid}" (change)="updateLatLon($event)"
                            [ngModelOptions]="{updateOn: 'blur'}" type="text" placeholder="Zip Code" #zip="ngModel"
                            name="zip" [(ngModel)]="address.zip" required>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="unit">
                        <textarea
                          [ngClass]="{'form-control-danger': deliveryInstruction.dirty && deliveryInstruction.invalid}"
                          [ngModelOptions]="{updateOn: 'blur'}" type="text" placeholder="Delivery Instruction"
                          #deliveryInstruction="ngModel" name="deliveryInstruction"
                          [(ngModel)]="address.deliveryInstruction" id="deliveryInstruction" rows="5">
                        {{ address.deliveryInstruction }}
                        </textarea>
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary waves-effect waves-light m-r-20"
                        [disabled]="loading">Save</button>
                      <a href="javascript:" class="btn btn-default waves-effect" (click)="editMode=false">Cancel</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>