<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <h5 class="card-header-text">Delivery Address and Delivery Instructions</h5>
      <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right" (click)="editMode=!editMode">
        <i class="icofont icofont-edit"></i>
      </button>
    </div>
    <div class="card-block user-desc">

      <div class="view-desc" *ngIf="!editMode else addressEdit">
        <div class="row">
          <div class="col-lg-12 col-xl-6">
            <div class="table-responsive">
              <table class="table m-0">
                <tbody>
                  <tr>
                    <th scope="row">Street</th>
                    <td>Olando</td>
                  </tr>
                  <tr>
                    <th scope="row">City</th>
                    <td>New York</td>
                  </tr>
                  <tr>
                    <th scope="row">State</th>
                    <td>New York</td>
                  </tr>
                  <tr>
                    <th scope="row">Zipcode</th>
                    <td>
                      083662
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end of table col-lg-6 -->

          <!-- end of table col-lg-6 -->
        </div>
        <br>
        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and
          praising pain was born and I will give you a complete account of the system, and
          expound the actual teachings of the great explorer of the truth, the master-builder of
          human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is
          pleasure, but because those who do not know how to pursue pleasure rationally encounter
          consequences that are extremely painful. Nor again is there anyone who loves
          or pursues or desires to obtain pain of itself, because it is pain, but because
          occasionally circumstances occur in which toil and pain can procure him some great
          pleasure. To take a trivial example, which of us ever undertakes laborious physical
          exercise, except to obtain some advantage from it? But who has any right to find fault
          with a man who chooses to enjoy a pleasure that has no annoying consequences, or one
          who avoids a pain that produces no resultant pleasure?" "On the other hand, we
          denounce with righteous indignation and dislike men who are so beguiled and demoralized
          by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee
          the pain and trouble that are bound to ensue; and equal blame belongs to
          those who fail in their duty through weakness of will, which is the same as saying
          through shrinking from toil and pain. These cases are perfectly simple and easy to
          distinguish. In a free hour, when our power of choice is untrammelled and when
          nothing prevents our being able To Do what we like best, every pleasure is to be
          welcomed and every pain avoided. But in certain circumstances and owing to the claims
          of duty or the obligations of business it will frequently occur that pleasures have
          to be repudiated and annoyances accepted. The wise man therefore always holds in these
          matters to this principle of selection: he rejects pleasures to secure other greater
          pleasures, or else he endures pains to avoid worse pain.</p>
      </div>
      <ng-template #addressEdit>
        <div class="edit-desc">
          <div class="row">
            <div class="col-lg-12">
              <div class="general-info j-forms">
                <div class="col-lg-6">
                  <div class="unit">
                    <div class="input">
                      <input type="text" placeholder="Street" name="street">
                    </div>
                  </div>
                  <div class="unit">
                    <div class="input">
                      <input type="text" placeholder="City" name="city">
                    </div>
                  </div>
                  <!-- end name -->
                  <!-- start gender -->
                  <div class="unit">
                    <label class="input select">
                      <select name="state">
                        <option value="none" selected="selected" disabled="">select state...</option>
                        <option value="male">GA</option>
                        <option value="female">BD</option>
                        <option value="other">SN</option>
                      </select>
                      <i></i>
                    </label>
                  </div>
                  <div class="unit">
                    <div class="input">
                      <input type="text" placeholder="Zip Code" name="zipcode">
                    </div>
                  </div>
                  <!-- end of table col-lg-6 -->

                  <!-- end of table col-lg-6 -->
                </div>

                <div class="col-md-12">
                  <textarea id="description">
                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of
                                  human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves
                                  or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical
                                  exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?" "On the other hand, we
                                  denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to
                                  those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when
                                  nothing prevents our being able To Do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have
                                  to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pain.</p>
                              </textarea>
                </div>
                <div class="text-center">
                  <a href="#!" class="btn btn-primary waves-effect waves-light m-r-20 m-t-20">Save</a>
                  <a href="#!" id="edit-cancel-btn" class="btn btn-default waves-effect m-t-20">Cancel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
