<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
	<!-- Container-fluid starts -->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<!-- Authentication card start -->
				<div class="login-card card-block auth-body mr-auto ml-auto">
					<form class="md-float-material j-forms">
						<div class="text-center">
							<h3 class="logo">Green Tree</h3>
						</div>
						<div class="auth-box">
							<div class="row m-b-20">
								<div class="col-md-12">
									<h3 class="text-left">Business Information</h3>
								</div>
							</div>

							<!-- start name -->
							<div class="unit">
								<div class="input">
									<input type="text" placeholder="Business Name" name="">
								</div>
							</div>
							<div class="unit">
								<div class="input">
									<input type="text" placeholder="Business Address" name="">
								</div>
							</div>
							<div class="unit">
								<div class="input">
									<input type="text" placeholder="City" name="city">
								</div>
							</div>
							<!-- end name -->
							<!-- start gender -->
							<div class="unit">
								<label class="input select">
                      <select name="state">
                        <option value="none" selected="selected" disabled="">select state...</option>
                        <option value="male">GA</option>
                        <option value="female">BD</option>
                        <option value="other">SN</option>
                      </select>
                      <i></i>
                    </label>
							</div>
							<div class="unit">
								<div class="input">
									<input type="text" placeholder="Zip Code" name="zipcode">
								</div>
							</div>
							<div class="unit">
								<div class="input">
									<input type="text" placeholder="Business Website" name="website">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Register</button>
								</div>
							</div>
						</div>
					</form>
					<!-- end of form -->
				</div>
				<!-- Authentication card end -->
			</div>
			<!-- end of col-sm-12 -->
		</div>
		<!-- end of row -->
	</div>
	<!-- end of container-fluid -->
</section>