<div class="pcoded-content">
    <div class="pcoded-inner-content">
      <!-- Main-body start -->
      <div class="main-body">
        <div class="page-wrapper">
  
          <div class="page-body">
            <div class="row">
  
              <div class="col-xl-12 col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Templates</h5>
                  </div>
                  <div class="card-block p-3">
                    <div class="table-responsive">
                      <table class="table">
                        <tr>
                          <th>Notification</th>
                          <th>Message Template</th>
                          <th>Date Created</th>
                          <th colspan="2"></th>
                        </tr>
                        <ng-container *ngFor="let templateGroup of grouped_templates; let lastGroup = last;">
                          <tr *ngFor="let template of templateGroup">
                            <td class="constrain__width w-20" title="{{template.notificationType}}">{{template.notificationType}}</td>
                            <td class="constrain__width w-30" title="{{template.message}}">{{ template.message }}</td>
                            <td>{{template.createdAt | date: 'MMMM d, y'}}</td>
                            <td>
                              <a [routerLink]="['.', template.templateId]"
                              class="tabledit-update-button btn btn-primary waves-effect waves-light"
                              style="float: none;margin: 0;" title="Update Template">
                                  <span class="icofont icofont-ui-edit"></span>
                              </a>
                            </td>
                          </tr>
                          <tr *ngIf="!lastGroup">
                            <td colspan="4">
                              <span style="opacity: 0" class="tabledit-update-button btn btn-primary waves-effect waves-light">
                                <span class="icofont icofont-ui-edit"></span>
                              </span>
                            </td>
                          </tr>
                        </ng-container>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Recent Orders end -->
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>