.pcoded-content {
  margin-left: 235px;
}

.alert {
  margin-bottom: 10px;
}

.constrain__width {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.w-20 {
  max-width: 20vw;
}

.w-30 {
  max-width: 30vw;
}