<nav class="navbar header-navbar pcoded-header">
  <div class="navbar-wrapper">
    <div class="navbar-logo">
      <a class="mobile-menu" id="mobile-collapse" href="javascript:">
        <i class="ti-menu"></i>
      </a>
      <div class="mobile-search">
        <div class="header-search">
          <div class="main-search morphsearch-search">
            <div class="input-group">
              <span class="input-group-addon search-close">
                <i class="ti-close"></i>
              </span>
              <input type="text" class="form-control" placeholder="Enter Keyword">
              <span class="input-group-addon search-btn">
                <i class="ti-search"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <a href="dashboard.html">
        <h3 class="logo">Grace Tree</h3>
      </a>
      <a class="mobile-options">
        <i class="ti-more"></i>
      </a>
    </div>

    <div class="navbar-container container-fluid">
      <ul class="nav-left">
        <li>
          <div class="sidebar_toggle">
            <a href="javascript:void(0)">
              <i class="ti-menu"></i>
            </a>
          </div>
        </li>
      </ul>
      <ul [@mobileHeaderNavRight]="navRight" [ngClass]="navRight" class="nav-right">
        <li (clickOutside)="notificationOutsideClick('profile')" class="user-profile header-notification" [ngClass]="profileNotificationClass"
          (click)="toggleProfileNotification()">
          <a href="javascript:">
            <span>{{user.firstName | titlecase }} {{user.lastName | slice:0:1 | uppercase}}.</span>
            <i class="ti-angle-down"></i>
          </a>
          <ul [@notificationBottom]="profileNotification" class="show-notification profile-notification">
            <li>
              <a [routerLink]="['./', 'profile']">
                <i class="ti-user"></i>
                Profile
              </a>
            </li>
            <li>
              <a [routerLink]="['/logout']">
                <i class="ti-layout-sidebar-left"></i>
                Logout
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>