<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
      <div class="page-wrapper">

        <div class="page-body">
          <div class="row">

            <div class="col-xl-12 col-md-12">
              <div class="card">
                <div class="card-header">
                  <h5>Deliveries</h5>
                  <div class="card-header-right">
                    <button type="button" name="button" class="btn btn-primary" [routerLink]="['/company/search']">New
                      Delivery</button>
                  </div>
                </div>
                <app-delivery [deliveries]="deliveries" (setDelivery)="openModal(modalDefault, $event)"></app-delivery>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-basic #modalDefault>
  <div class="app-modal-header">
    <h4 class="modal-title">{{delivery.firstName}} {{delivery.lastName}}</h4>
    <button type="button" class="close basic-close" (click)="modalDefault.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="form-group row" *ngIf="delivery.additionalRecipientText">
      <label class="col-sm-12 col-form-label"><strong>Additional Message to Recipient</strong></label>
      <div class="col-sm-12">{{delivery.additionalRecipientText}}</div>
    </div>

    <div class="form-group row" *ngIf="delivery.additionalCompanyText">
      <label class="col-sm-12 col-form-label"><strong>Additional Message to Crew/Company</strong></label>
      <div class="col-sm-12">{{delivery.additionalCompanyText}}</div>
    </div>
  </div>
</app-modal-basic>