<section class="register p-fixed d-flex common-img-bg">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form class="md-float-material" #agreementForm="ngForm" (ngSubmit)="agreementForm.form.valid && correctName && allTermsAgreed && acceptAgreement()">
            <div class="text-center">
              <h3 class="logo">ChipDump</h3>
            </div>
            <div class="auth-box">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Terms and Conditions</h3>
                </div>
              </div>
              <hr />

              <div class="terms">
                <p>I understand that by signing up to participate in ChipDump, a totally free program, I am agreeing to the following:</p>
                <ol class="list-modal">
                  <ng-container *ngFor="let termAndCond of terms">
                      <div class="form-check">
                          <input type="checkbox" value="true" class="form-check-input"
                          #term required>
                          <label class="form-check-label">
                          <span class="text-inverse">{{ termAndCond }}</span>
                          </label>
                      </div>
                  </ng-container>
                </ol>
              </div>
              <div class="j-row">
                <div class="form-group col-12">
                    <label for="" class="col-form-label">Your Name: </label>
                    <input  
                    [(ngModel)]="clientName"
                    placeholder="[Your First Name] [Your Last Name]"
                    #nameRef="ngModel" [ngModelOptions]="{ 'standalone': true }"
                    required  [ngClass]="{ 'wrong__name':  agreementForm.submitted && (!!nameRef?.errors || !correctName) }"
                    class="form-control"
                    style="border: none; border-bottom: 3px solid #000"
                    type="text"/>
                </div>
              </div>
              <div class="j-row">
                <div class="col-12">
                  <div class="alert alert-danger mb-1" 
                    *ngIf="agreementForm.submitted && !allTermsAgreed">
                    Please accept <b>ALL</b> terms and condition agreement
                  </div>
                  <div class="alert alert-danger mb-2" 
                    *ngIf="agreementForm.submitted && !correctName">
                    Please type your name in the space provided above "{{ expectedName }}"
                  </div>
                </div>
              </div>
              <div class="j-row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
                    [disabled]="loading">Submit</button>
                </div>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>