<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
      <div class="page-wrapper">

        <div class="page-body">
          <div class="row">

            <div class="col-md-6 col-xl-6">
              <div class="card widget-statstic-card borderless-card">
                <div class="card-header">
                  <div class="card-header-left">
                    <h5>Status</h5>
                    <p class="p-t-10 m-b-0 text-muted" *ngIf="status">Ready for delivery</p>
                    <p class="p-t-10 m-b-0 text-muted" *ngIf="!status">Not ready for delivery</p>
                  </div>
                </div>
                <div class="card-block">
                  <i class="fa st-icon st-icon" [ngClass]="{ 'fa-pause-circle bg-danger': !status, 'fa-play-circle bg-success': status }"></i>
                  <div class="text-left d-flex cus-switch justify-content-between">
                    <h3 class="d-inline-block">{{status ? 'Ready' : 'Pause'}}</h3>
                    <ui-switch color="#2ed8b6" [(ngModel)]="status" (ngModelChange)="updateUserState($event, modalDefault)"></ui-switch>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-6">
              <div class="card widget-statstic-card borderless-card">
                <div class="card-header">
                  <div class="card-header-left">
                    <h5>Pending Delivery</h5>
                    <p class="p-t-10 m-b-0 text-muted">Waiting for delivery</p>
                  </div>
                </div>
                <div class="card-block">
                  <i class="fa fa-calendar st-icon bg-warning txt-lite-color"></i>
                  <div class="text-left">
                    <h3 class="d-inline-block">{{pendingCount}}</h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- Recent Orders start -->
            <div class="col-xl-12 col-md-12">
              <div class="card">
                <div class="card-header">
                  <h5>Recent Deliveries</h5>
                  <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                      <li>
                        <i class="fa fa-chevron-left"></i>
                      </li>
                      <li>
                        <i class="fa fa-window-maximize full-card"></i>
                      </li>
                      <li>
                        <i class="fa fa-minus minimize-card"></i>
                      </li>
                      <li>
                        <i class="fa fa-refresh reload-card"></i>
                      </li>
                    </ul>
                  </div>
                </div>
                <app-delivery [deliveries]="deliveries" (setDelivery)="updateDelivery($event)"></app-delivery>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-basic disableOutsideClick="true" #modalDefault>
  <div class="app-modal-header">
    <h4 class="modal-title">Ready for delivery?</h4>
    <button type="button" class="close basic-close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    Please note that you will start receiving deliveries when you change your status to Ready. Deliveries can be scheduled at any time without notice.
  </div>
  <div class="app-modal-footer">
    <div class="text-center">
      <button type="button" class="btn btn-primary waves-effect waves-light m-r-20" (click)="updateStatus('Ready')">Go to Ready</button>
      <a href="javascript:" class="btn btn-danger waves-effect" (click)="closeModal()">Pause</a>
    </div>
  </div>
</app-modal-basic>

<app-modal-basic hideFooter="true" #deliveryModal>
  <div class="app-modal-header">
    <h4 class="modal-title">{{delivery.companyName}}</h4>
    <button type="button" class="close basic-close" (click)="deliveryModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="form-group row" *ngIf="delivery.additionalRecipientText">
      <label class="col-sm-12 col-form-label"><strong>Additional Message to Recipient</strong></label>
      <div class="col-sm-12">{{delivery.additionalRecipientText}}</div>
    </div>

    <div class="form-group row" *ngIf="delivery.additionalCompanyText">
      <label class="col-sm-12 col-form-label"><strong>Additional Message to Crew/Company</strong></label>
      <div class="col-sm-12">{{delivery.additionalCompanyText}}</div>
    </div>
  </div>
</app-modal-basic>