.common-img-bg {
  height: 1000px;
}

.alert {
  margin-bottom: 10px;
}

h3 {
  margin-top: 10px;
}

.chart {
  position: relative;
  height: 30px;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  background-color: #f5f5f5;
  border: 1px solid #DFE3D9;
  display: flex;

  li {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.2;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;

    &:not(:last-of-type) {
      border-right: 1px solid #fff;
    }
  }

  li.verified {
    background-color: #90cd4e;
    color: #fff;
    order: 1;
  }

  li.unverified {
    background-color: #e23f53;
    color: #fff;
    order: 2;
  }
}

.j-forms {
  label {
    color: #222 !important;
    font-weight: 600;
    font-size: 14px;
    display: block;
  }

  .span8 {
    width: 80%;
  }
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}