<section class="register p-fixed d-flex common-img-bg">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <div class="text-center">
            <h3 class="logo">GraceTreeProducts</h3>
          </div>
          <div class="auth-box">
            <div class="row">
              <div class="col-md-12">
                <h3 class="text-center txt-primary">Account Verification</h3>
              </div>
            </div>
            <hr />

            <div class="terms">
              <p>In order to be able to proceed, we need to confirm your identity. Help us confirm your identity by
                completing these two simple steps.
              </p>
              <p>We sent the verification link to your primary email address. Please click on the link to verify your identity.</p>
              <p><strong>Account Verification Status:</strong></p>

              <div>
                <div class="input-group">
                  <span class="input-group-prepend">
                    <label class="input-group-text red" *ngIf="!email?.isVerified">
                      <span>Not verified</span>
                    </label>
                    <label class="input-group-text green" *ngIf="email?.isVerified">
                      <span>Verified</span>
                    </label>
                  </span>
                  <input class="form-control" type="email" [(ngModel)]="email.emailAddress" required />
                  <button *ngIf="!email?.isVerified" class="input-group-addon btn btn-primary" (click)="verifyEmail()">
                    <span class="">Resend Link</span>
                  </button>
                </div>

              </div>

              <p class="m-t-25" *ngIf="email?.isVerified">Your account has been fully verified, which means you can
                now proceed to the <a [routerLink]="['/login']" class="text-primary">login page</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
