<div class="pcoded-content">
	<div class="pcoded-inner-content">
		<!-- Main-body start -->
		<div class="main-body">
			<div class="page-wrapper">

				<div class="page-body">
					<div class="row">

						<div class="col-md-6 col-xl-4">
							<div class="card widget-statstic-card borderless-card">
								<div class="card-header">
									<div class="card-header-left">
										<h5>Shipping Deliveries</h5>
										<p class="p-t-10 m-b-0 text-muted">In transit</p>
									</div>
								</div>
								<div class="card-block">
									<i class="fa fa-truck st-icon bg-primary txt-lite-color"></i>
									<div class="text-left">
										<h3 class="d-inline-block">2</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-xl-4">
							<div class="card widget-statstic-card borderless-card">
								<div class="card-header">
									<div class="card-header-left">
										<h5>Total Deliveries</h5>
										<p class="p-t-10 m-b-0 text-muted">Total accepted deliveries</p>
									</div>
								</div>
								<div class="card-block">
									<i class="fa fa-calendar st-icon bg-success txt-lite-color"></i>
									<div class="text-left">
										<h3 class="d-inline-block">125</h3>
									</div>
								</div>
							</div>
						</div>
						<!-- Recent Orders start -->
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h5>Recent Deliveries</h5>
								</div>
								<div class="card-block p-3">
									<div class="table-responsive">
										<table class="table">
											<tr>
												<th>Product Types</th>
												<th>Recipient</th>
												<th>Date</th>
												<th>Status</th>
												<th>Details</th>
											</tr>
											<tr>
												<td>Wood Chips</td>
												<td>Jane Elliott</td>
												<td>06-01-2017</td>
												<td>
													<span class="label label-success">Accepted</span>
												</td>
												<td>
													<a href="company-shipped-delivery.html" class="btn btn-sm btn-outline-primary">View</a>
												</td>
											</tr>
											<tr>
												<td>Wood Chips</td>
												<td>Jane Elliott</td>
												<td>06-01-2017</td>
												<td>
													<span class="label label-success">Accepted</span></td>
												<td>
													<a href="company-shipped-delivery.html" class="btn btn-sm btn-outline-primary">View</a>
												</td>
											</tr>
											<tr>
												<td>Wood Chips</td>
												<td>Mark Elliott</td>
												<td>06-01-2017</td>
												<td>
													<span class="label label-warning">Waiting</span></td>
												<td>
													<a href="company-shipped-delivery.html" class="btn btn-sm btn-outline-primary">View</a>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>