<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
      <div class="page-wrapper">

        <div class="page-body">
          <div class="row">

            <div class="col-xl-12 col-md-12">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-header-text">About Me</h5>
                  <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right"
                  (click)="toggleUpdateProfile()">
                    <i class="icofont icofont-edit"></i>
                  </button>
                </div>
                <div class="card-block">
                  <div class="view-info" *ngIf="!isProfileEdit else profileEdit">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table m-0">
                                  <tbody>
                                    <tr>
                                      <th scope="row">First Name</th>
                                      <td>{{user?.firstName}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Last Name</th>
                                      <td>{{user?.lastName}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Primary Phone number</th>
                                      <td>{{user?.phones[0]?.phoneNumber || 'N/A' }}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Cell Phone number</th>
                                      <td>{{user?.phones[1]?.phoneNumber}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Work Phone number</th>
                                      <td>{{user?.phones[2]?.phoneNumber}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Primary Email Address</th>
                                      <td>{{user?.emails[0]?.emailAddress || 'N/A'}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Secondary Email Address</th>
                                      <td>{{user?.emails[1]?.emailAddress}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->

                            <!-- end of table col-lg-6 -->
                          </div>
                          <!-- end of row -->
                        </div>
                        <!-- end of general info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of view-info -->
                  <ng-template #profileEdit>
                    <div class="edit-info">
                      <div class="row">
                        <div class="col-lg-12">
                          <form #profileForm="ngForm" (ngSubmit)="profileForm.form.valid && updateprofile()">
                            <div class="general-info j-forms">
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="alert alert-danger background-danger" *ngIf="firstName.dirty && firstName.errors?.required">First
                                    name is required</div>
                                  <div class="alert alert-danger background-danger" *ngIf="lastName.dirty && lastName.errors?.required">Last
                                    name is required</div>
                                  <div class="alert alert-danger background-danger" *ngIf="primaryNum.dirty && primaryNum.errors?.required">Primary
                                    Phone number is required</div>
                                  <div class="alert alert-danger background-danger" *ngIf="primaryNum.dirty && primaryNum.errors?.phone">Primary
                                    Phone number is not valid</div>
                                  <div class="alert alert-danger background-danger" *ngIf="secondaryNum.dirty && secondaryNum.errors?.phone">Cell
                                    Phone number is not valid</div>
                                  <div class="alert alert-danger background-danger" *ngIf="secondaryNum.dirty && secondaryNum.errors?.required">Cell
                                    Phone number is required</div>
                                  <div class="alert alert-danger background-danger" *ngIf="tertiaryNum.dirty && tertiaryNum.errors?.phone">Work
                                    Phone number is not valid</div>
                                  <div class="alert alert-danger background-danger" *ngIf="tertiaryNum.dirty && tertiaryNum.errors?.required">Work
                                    Phone number is required</div>
                                  <div class="alert alert-danger background-danger" *ngIf="primaryEmail.dirty && primaryEmail.errors?.required">Primary
                                    Email is required</div>
                                  <div class="alert alert-danger background-danger" *ngIf="primaryEmail.dirty && primaryEmail.errors?.email">Primary
                                    Email is invalid</div>
                                  <div class="alert alert-danger background-danger" *ngIf="secondaryEmail.dirty && secondaryEmail.errors?.required">Secondary
                                    Email is required</div>
                                  <div class="alert alert-danger background-danger" *ngIf="secondaryEmail.dirty && secondaryEmail.errors?.email">Secondary
                                    Email is invalid</div>
                                  <div class="alert alert-danger background-danger" *ngIf="errorMessage">{{errorMessage}}</div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="j-row">
                                    <div class="span6 unit">
                                      <div class="input">
                                        <input [ngClass]="{'form-control-danger': firstName.dirty && firstName.invalid}"
                                          [ngModelOptions]="{updateOn: 'blur'}" type="text" placeholder="First Name"
                                          #firstName="ngModel" name="firstName" [(ngModel)]="user.firstName" required>
                                      </div>
                                    </div>
                                    <div class="span6 unit">
                                      <div class="input">
                                        <input [ngClass]="{'form-control-danger': firstName.dirty && firstName.invalid}"
                                          [ngModelOptions]="{updateOn: 'blur'}" type="text" placeholder="Last Name"
                                          #lastName="ngModel" name="lastName" [(ngModel)]="user.lastName" required>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="j-row">
                                    <div class="span6 unit">
                                      <div class="input">
                                        <input [ngClass]="{'form-control-danger': primaryNum.dirty && primaryNum.invalid}"
                                          [ngModelOptions]="{updateOn: 'blur'}" type="text" class="form-control" name="primaryNum"
                                          placeholder="Primary Phone Number" #primaryNum="ngModel" [(ngModel)]="user.phones[0].phoneNumber"
                                          required required phone="US">
                                      </div>
                                    </div>
                                    <div class="span6 unit">
                                      <div class="input">
                                        <input type="text" class="form-control" name="secondaryNum" placeholder="Cell Phone Number"
                                          [(ngModel)]="user.phones[1].phoneNumber" required phone="US" #secondaryNum="ngModel"
                                          [ngClass]="{'form-control-danger': secondaryNum.dirty && secondaryNum.invalid}">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="unit">
                                    <div class="input">
                                      <input type="text" class="form-control" name="tertiaryNum" placeholder="Work Phone Number"
                                        [(ngModel)]="user.phones[2].phoneNumber" required phone="US" #tertiaryNum="ngModel"
                                        [ngClass]="{'form-control-danger': tertiaryNum.dirty && tertiaryNum.invalid}">
                                    </div>
                                  </div>
                                  <div class="unit">
                                    <div class="input">
                                      <input [ngClass]="{'form-control-danger': primaryEmail.dirty && primaryEmail.invalid}"
                                        [ngModelOptions]="{updateOn: 'blur'}" type="email" name="primaryEmail"
                                        #primaryEmail="ngModel" placeholder="Primary Email Address" [(ngModel)]="user.emails[0].emailAddress"
                                        required email>
                                    </div>
                                  </div>
                                  <div class="unit">
                                    <div class="input">
                                      <input type="email" id="secondaryEmail" name="secondaryEmail" placeholder="Secondary Email Address"
                                        [(ngModel)]="user.emails[1].emailAddress" required email #secondaryEmail="ngModel"
                                        [ngClass]="{'form-control-danger': secondaryEmail.dirty && secondaryEmail.invalid}">
                                    </div>
                                  </div>
                                  <!-- end name email -->
                                  <!-- start password -->
                                  <div class="j-row">
                                    <div class="span6 unit">
                                      <div class="input">
                                        <input [ngClass]="{'form-control-danger': errorMessage}" type="password" name="password"
                                          placeholder="Password" [(ngModel)]="user.password">
                                      </div>
                                    </div>
                                    <div class="span6 unit">
                                      <div class="input">
                                        <input [ngClass]="{'form-control-danger': errorMessage}" type="password" name="confirmPassword"
                                          placeholder="Confirm Password" [(ngModel)]="user.confirmPassword">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- end of table col-lg-6 -->

                                <!-- end of table col-lg-6 -->
                              </div>
                              <!-- end of row -->
                              <div class="text-center">
                                <button type="submit" class="btn btn-primary waves-effect waves-light m-r-20"
                                  [disabled]="loading">Save</button>
                                <a href="javascript:" class="btn btn-default waves-effect" (click)="toggleUpdateProfile()">Cancel</a>
                              </div>
                            </div>
                          </form>
                          <!-- end of edit info -->
                        </div>
                        <!-- end of col-lg-12 -->
                      </div>
                      <!-- end of row -->
                    </div>
                  </ng-template>
                  <!-- end of edit-info -->
                </div>
                <!-- end of card-block -->
              </div>
            </div>

            <div class="col-xl-12 col-md-12">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-header-text">Delivery Preference</h5>
                  <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right"
                    (click)="isPreferenceEdit=!isPreferenceEdit">
                    <i class="icofont icofont-edit"></i>
                  </button>
                </div>
                <div class="card-block">
                  <div class="view-info" *ngIf="!isPreferenceEdit else preferenceEdit">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="general-info">
                          <div class="row">
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-12 col-xl-6">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                    <tr *ngFor="let userProduct of userProducts">
                                      <th scope="row">{{userProduct.productDesc}}</th>
                                      <td>
                                        {{isBoolean(userProduct.status)}}
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                          </div>
                          <!-- end of row -->
                        </div>
                        <!-- end of general info -->
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of view-info -->
                  <ng-template #preferenceEdit>
                    <div class="edit-info">
                      <div class="row">
                        <div class="col-lg-12">
                          <form #preferenceForm="ngForm" (ngSubmit)="updateDeliveryPreference()">
                            <div class="general-info j-forms">
                              <div class="row">
                                <!-- end of table col-lg-6 -->
                                <div class="col-lg-6" *ngFor="let userProduct of userProducts; let i = index">
                                  <div class="unit">
                                    <label class="input select">
                                      <span>Want {{userProduct.productDesc}}?</span>
                                      <select name="product{{i}}" [(ngModel)]="userProduct.status">
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                      </select>
                                      <i></i>
                                    </label>
                                  </div>
                                </div>
                                <!-- end of table col-lg-6 -->
                              </div>
                              <!-- end of row -->
                              <div class="text-center">
                                <button type="submit" class="btn btn-primary waves-effect waves-light m-r-20"
                                  [disabled]="loading">Save</button>
                                <a href="javascript:" class="btn btn-default waves-effect" (click)="isPreferenceEdit=false">Cancel</a>
                              </div>
                            </div>
                          </form>
                          <!-- end of edit info -->
                        </div>
                        <!-- end of col-lg-12 -->
                      </div>
                      <!-- end of row -->
                    </div>
                    <!-- end of edit-info -->
                  </ng-template>
                </div>
                <!-- end of card-block -->
              </div>
            </div>
            <!-- Recent Orders end -->
          </div>


          <app-user-profile-address [address]="primaryAddress"></app-user-profile-address>

          <div class="row">
            <div class="col-xl-12 col-md-12">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-header-text text-danger">Deactivate Account</h5>
                </div>
                <div class="card-block">
                  <div class="view-info">
                    <div class="row">
                      <div class="col-12">
                        <p>
                          Deactivating your account will render you unable to log in, you will also no longer appear in searches.
                        </p>
                        <button class="btn btn-danger waves-effect waves-light m-r-20" 
                        [disabled]="loading"
                        [swal]="deactivateSwal"
                        (confirm)="deactivateUser()"
                        >
                            <i class="icofont icofont-trash"></i> Deactivate?
                        </button>
                      </div>
                      <!-- end of col-lg-12 -->
                    </div>
                    <!-- end of row -->
                  </div>
                  <!-- end of view-info -->
                  
                </div>
                <!-- end of card-block -->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<swal
  #deactivateSwal
  title="Deactivate account?"
  text="This cannot be undone"
  type="warning"
  confirmButtonClass="btn btn-danger mr-2"
  confirmButtonColor="red"
  confirmButtonText="Confirm deactivation"
  [showCancelButton]="true"
  [focusCancel]="true">
</swal>
