<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form class="md-float-material j-forms" #registerForm="ngForm" (ngSubmit)="registerForm.form.valid && register()">
            <div class="text-center">
              <h3 class="logo">Grace Tree</h3>
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left">User Registration</h3>
                </div>
              </div>
              <p class="text-inverse b-b-default text-right">
                <a [routerLink]="['/company-registration']">Register as company</a>
              </p>
              <div class="col-sm-12">
                <div class="alert alert-danger background-danger" *ngIf="(firstName.dirty || registerForm.submitted) && firstName.errors?.required">First name is required</div>
                <div class="alert alert-danger background-danger" *ngIf="(lastName.dirty || registerForm.submitted) && lastName.errors?.required">Last name is required</div>
                <div class="alert alert-danger background-danger" *ngIf="(number.dirty || registerForm.submitted) && number.errors?.required">Phone number is required</div>
                <div class="alert alert-danger background-danger" *ngIf="(number.dirty || registerForm.submitted) && number.errors?.phone">Phone number is not valid</div>
                <div class="alert alert-danger background-danger" *ngIf="(password.dirty || registerForm.submitted) && password.errors?.required">Password is required</div>
                <div class="alert alert-danger background-danger" *ngIf="(password.dirty || registerForm.submitted) && password.errors?.minlength">Password is too short</div>
                <div class="alert alert-danger background-danger" *ngIf="(confirmPassword.dirty || registerForm.submitted) && confirmPassword.errors?.equalTo">Password is not the same</div>
                <div class="alert alert-danger background-danger" *ngIf="(email.dirty || registerForm.submitted) && email.errors?.required">Email is required</div>
                <div class="alert alert-danger background-danger" *ngIf="(email.dirty || registerForm.submitted) && email.errors?.email">Email is invalid</div>
              </div>
              <!-- start name -->
              <!-- start name -->
              <div class="j-row">
                <div class="span6 unit">
                  <div class="input">
                    <input [ngClass]="{'form-control-danger': firstName.dirty && firstName.invalid}" [ngModelOptions]="{updateOn: 'blur'}"
                      type="text" class="form-control" #firstName="ngModel" placeholder="First Name" id="firstName" name="firstName" [(ngModel)]="user.firstName"
                      required>
                  </div>
                </div>
                <div class="span6 unit">
                  <div class="input">
                    <input [ngClass]="{'form-control-danger': lastName.dirty && lastName.invalid}" [ngModelOptions]="{updateOn: 'blur'}" 
                      type="text" class="form-control" #lastName="ngModel" placeholder="Last Name" id="lastName" name="lastName" [(ngModel)]="user.lastName"
                      required>
                  </div>
                </div>
              </div>
              <div class="j-row">
                <div class="span6 unit">
                  <div class="input">
                    <input [ngClass]="{'form-control-danger': email.dirty && email.invalid}" [ngModelOptions]="{updateOn: 'blur'}"
                      type="email" id="email" name="email" #email="ngModel" placeholder="Primary Email" [(ngModel)]="user.emails[0].emailAddress"
                      required email>
                  </div>
                </div>
                <div class="span6 unit">
                  <div class="input">
                    <input [ngClass]="{'form-control-danger': number.dirty && number.invalid}" [ngModelOptions]="{updateOn: 'blur'}"
                      type="text" class="form-control" #number="ngModel" id="number" name="number" placeholder="Primary Phone Number"
                      [(ngModel)]="user.phones[0].phoneNumber" required phone>
                  </div>
                </div>
              </div>

              <div class="j-row">
                <div class="span6 unit">
                  <div class="input">
                    <input [ngClass]="{'form-control-danger': password.dirty && password.invalid}" [ngModelOptions]="{updateOn: 'blur'}"
                      type="password" id="password" name="password" #password="ngModel" placeholder="Password" [(ngModel)]="user.password"
                      required minlength="5">
                  </div>
                </div>
                <div class="span6 unit">
                  <div class="input" class="form-group">
                    <input [ngClass]="{'form-control-danger': confirmPassword.dirty && confirmPassword.invalid}" [ngModelOptions]="{updateOn: 'blur'}"
                      type="password" id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel" placeholder="Confirm Password"
                      [(ngModel)]="user.confirmPassword" [equalTo]="password" />
                  </div>
                </div>
              </div>
              
              <div class="j-row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
                    [disabled]="loading">Continue</button>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-md-8">
                  <p class="text-inverse text-left m-b-0">Already have an account?</p>
                </div>
                <div class="col-md-4">
                  <p class="text-inverse text-right">
                    <b>
                      <a [routerLink]="['/login']">Sign In</a>
                    </b>
                  </p>
                </div>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>