<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
      <div class="page-wrapper">
        <!-- Page-header start -->

        <!-- Page body start -->
        <div class="page-body">
          <div class="row">
            <div class="col-sm-12">
              <!-- Google map search card start -->
              <div class="card">
                <div class="card-header">
                  <h5>Search For Recipients</h5>
                </div>
                <div class="card-block">
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="">
                        <form #searchForm="ngForm" (ngSubmit)="searchForm.form.valid && search()">
                          <div class="input-group input-group-button">
                            <input type="text" [ngClass]="{'form-control-danger': address.dirty && address.invalid}"
                              [ngModelOptions]="{updateOn: 'blur'}" class="form-control" placeholder="Enter Address"
                              name="address" #address="ngModel" [(ngModel)]="searchParams.address" required>
                            <select class="input-group-append" name="radius" [(ngModel)]="searchParams.radius">
                              <option value="50">50 miles</option>
                              <option value="40">40 miles</option>
                              <option value="30">30 miles</option>
                              <option value="20">20 miles</option>
                              <option value="10">10 miles</option>
                            </select>
                            <div class="input-group-append">
                              <button type="submit" class="btn btn-primary" [disabled]="loading">Search</button>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="clearfix"></div>
                      <br>
                      <div class="gmap1 full-page-google-map" *ngIf="mapView">
                        <agm-map [latitude]="convertToNumber(lat)" [longitude]="convertToNumber(lng)" [zoom]="zoom">
                          <agm-marker
                            *ngFor="let user of users;"
                            [latitude]="convertToNumber(user.latitude)"
                            [longitude]="convertToNumber(user.longitude)"
                            [iconUrl]="getIconURL(user.status)"
                            [markerDraggable]="false">
                            <agm-info-window>
                              <h5 class="title">
                                {{user.firstName}} {{user.lastName}}
                                <span class="label label-warning" *ngIf="user.status === userStatus.Pause">Pause</span>
                                <span class="label label-success" *ngIf="user.status === userStatus.Ready">Ready</span>
                              </h5>
                              <h6 class="body">{{user.email}}</h6>
                              <h6 class="body">{{user.phoneNumber}}</h6>
                              <h6 class="body">
                                <button (click)="openNote(modalDefault, user)" class="btn btn-sm btn-outline-primary" *ngIf="user.deliveryInstruction">
                                  View Note
                                </button>
                                <a [routerLink]="['/company/setup-delivery', user.userAddressId]" class="btn btn-primary btn-sm">Setup Delivery</a>
                              </h6>
                            </agm-info-window>
                          </agm-marker>

                          <agm-marker
                            [latitude]="lat"
                            [longitude]="lng"
                            [iconUrl]="'../../../assets/images/marker-red.png'"
                            [markerDraggable]="false">
                          </agm-marker>
                        </agm-map>
                      </div>

                      <div class="table-responsive" *ngIf="!mapView">

                        <table class="table">
                          <tr>
                            <th>Status</th>
                            <th>Zipcode</th>
                            <th>Recipient</th>
                            <th>Email Address</th>
                            <th>Phone Number</th>
                            <th>Delivery Note</th>
                            <td></td>
                          </tr>
                          <tr *ngFor="let user of users;">
                            <td>
                              <span class="label label-warning" *ngIf="user.status === userStatus.Pause">Pause</span>
                              <span class="label label-success" *ngIf="user.status === userStatus.Ready">Ready</span>
                            </td>
                            <td>{{user.zip}}</td>
                            <td>{{user.firstName}} {{user.lastName}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.phoneNumber}}</td>
                            <td>
                              <button (click)="openNote(modalDefault, user)" class="btn btn-sm btn-outline-primary" *ngIf="user.deliveryInstruction">
                                View Note
                              </button>
                              <span *ngIf="!user.deliveryInstruction">No Note</span>
                            </td>
                            <td>
                              <a [routerLink]="['/company/setup-delivery', user.userAddressId]" class="btn btn-primary btn-sm">Setup Delivery</a>
                            </td>
                          </tr>
                        </table>

                      </div>

                      <!-- start -->
                      <div class="clearfix"></div>
                      <br>
                      <div class="map-toolbar">
                        <div class="row">
                          <div class="col-xl-12 text-center location-mob-btn">
                            <div class="btn-group" *ngIf="mapView">
                              <button type="button" class="btn btn-danger" id="map-unzoom">-</button>
                              <button type="button" class="btn btn-danger" id="map-resetzoom">Reset</button>
                              <button type="button" class="btn btn-danger" id="map-zoom">+</button>
                            </div>
                            &nbsp;
                            <button class="btn btn-primary" (click)="toggleListMapView()" *ngIf="mapView">List View</button>
                            <button class="btn btn-primary" (click)="toggleListMapView()" *ngIf="!mapView">Map View</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end -->
                  </div>
                </div>
              </div>
              <!-- Google map search card end -->
            </div>
          </div>
        </div>
        <!-- Page body end -->
      </div>
    </div>
  </div>
</div>

<app-modal-basic #modalDefault>
  <div class="app-modal-header">
    <h4 class="modal-title">{{user.firstName}} {{user.lastName}}'s Note</h4>
    <button type="button" class="close basic-close" (click)="modalDefault.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <p>{{user.deliveryInstruction}}</p>
  </div>
</app-modal-basic>