<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
      <div class="page-wrapper">
        <!-- Page-header start -->

        <!-- Page body start -->
        <div class="page-body">
          <div class="row">
            <div class="col-sm-12">
              <!-- Google map search card start -->
              <div class="card">
                <div class="card-header">
                  <h5>Search For Recipients</h5>
                </div>
                <div class="card-block">
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="">
                        <form #searchForm="ngForm" (ngSubmit)="searchForm.form.valid && search()">
                          <div class="input-group input-group-button">
                            <input type="text" [ngClass]="{'form-control-danger': address.dirty && address.invalid}"
                              [ngModelOptions]="{updateOn: 'blur'}" class="form-control" placeholder="Enter Address"
                              name="address" #address="ngModel" [(ngModel)]="searchParams.address" required>
                            <select class="input-group-append" name="radius" [(ngModel)]="searchParams.radius">
                              <option value="50">50 miles</option>
                              <option value="40">40 miles</option>
                              <option value="30">30 miles</option>
                              <option value="20">20 miles</option>
                              <option value="10">10 miles</option>
                            </select>
                            <div class="input-group-append">
                              <button type="submit" class="btn btn-primary" [disabled]="loading">
                                <span *ngIf="loading"><img src="assets/spinner_blue_white_trans.svg" style="width: 1.5em; object-fit: contain;"/></span>
                                Search
                              </button>
                            </div>
                          </div>
                          <div class="checkbox-fade fade-in-primary d-">
                            <label>
                              <input type="checkbox" [(ngModel)]="searchParams.includePause" name="includePause">
                              <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                              </span>
                              <span class="text-inverse">Include users in pause state</span>
                            </label>
                          </div>
                        </form>
                      </div>
                      <div class="clearfix"></div>
                      <br>
                      <div class="gmap1 full-page-google-map" *ngIf="mapView">
                        <agm-map [latitude]="convertToNumber(lat)" [longitude]="convertToNumber(lng)" [zoom]="zoom">
                          <agm-marker *ngFor="let user of recipients;" [latitude]="convertToNumber(user.latitude)"
                            [longitude]="convertToNumber(user.longitude)" [iconUrl]="getIconURL(user.status)"
                            [markerDraggable]="false">
                            <agm-info-window>
                              <h5 class="title">
                                {{user.firstName}} {{user.lastName}}
                                <span class="label label-warning" *ngIf="user.status === userStatus.Pause">Pause</span>
                                <span class="label label-success" *ngIf="user.status === userStatus.Ready">Ready</span>
                                <span class="label label-success" *ngIf="user.deliveries?.length">Pending Delivery</span>
                              </h5>
                              <div class="f-13 text-muted m-b-15">
                                  {{user.street}}, {{user.city}}, {{user.state}}, {{user.zip}}
                              </div>
                              <div class="m-t-15">
                                <ng-container *ngFor="let productDesc of user.productDesc; let pdIndex = index">
                                  <label class="badge badge-warning">  {{productDesc}} </label>
                                  <br *ngIf="!((pdIndex + 1) % 3)">
                                </ng-container>
                                <label class="badge badge-danger" *ngIf="!user.productDesc?.length">  No Products </label>
                              </div>
                              <h6 class="body">{{ getUniqueEmails(user) }}</h6>
                              <h6 class="body">{{ getUniquePhoneNumbers(user) }}</h6>
                              <h6 class="body">{{ (user.distance || 0) | number : '1.1-1' }} miles away</h6>
                              <h6 class="body">
                                <button (click)="openNote(modalDefault, user)" class="btn btn-sm btn-outline-primary">
                                  View Note
                                </button>
                                <a *ngIf="user.status === userStatus.Ready" [routerLink]="['/company/setup-delivery', user.userId]"
                                  class="btn btn-primary btn-sm">Setup Delivery</a>
                                <span class="btn btn-sm btn-outline-primary my-1" *ngIf="user.acceptedScheduled">
                                  {{ user.acceptedScheduled || 0 }} Accepted Scheduled Deliveries
                                </span>
                                <span class="btn btn-sm btn-outline-primary my-1" *ngIf="user.pendingScheduled">
                                  {{ user.pendingScheduled || 0 }} Pending Scheduled Deliveries
                                </span>
                              </h6>
                            </agm-info-window>
                          </agm-marker>

                          <agm-marker [latitude]="lat" [longitude]="lng"
                            [iconUrl]="'../../../assets/images/marker-red.png'" [markerDraggable]="false">
                          </agm-marker>
                        </agm-map>
                      </div>
                      <div class="table-responsive" *ngIf="!mapView">
                        <table class="table" #sortableTable>
                          <tr>
                            <th>
                              <div class="checkbox-fade fade-in-primary">
                                <label>
                                  <input #bulkScheduleRef
                                  type="checkbox" name="selected" (change)="toggleAllUsers($event)">
                                  <span class="cr">
                                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                  </span>
                                </label>
                              </div>
                            </th>
                            <th>Recipient</th>
                            <th>Email Address</th>
                            <th>Phone Number</th>
                            <th>
                              Status
                            </th>
                            <th data-sort="distance" title="Click to sort by distance">
                                <span *ngIf="sortingBy('distance')"><i class="fa fa-caret-{{ reversed ? 'down' : 'up' }}"></i></span>
                              Address
                            </th>
                            <th>Delivery Note</th>
                            <th></th>
                          </tr>
                          <tr *ngFor="let user of recipients | slice: (offset-1) * LIMIT : (offset-1) * LIMIT + LIMIT; let i = index;">
                            <td>
                              <div class="checkbox-fade fade-in-primary" *ngIf="(user.status === userStatus.Pause) && !user.deliveries?.length">
                                <label>
                                  <input type="checkbox" [(ngModel)]="recipients[getOverallIndex(i)].selected" name="user{{getOverallIndex(i)}}">
                                  <span class="cr">
                                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td>
                              {{user.firstName}} {{user.lastName}}
                              <div class="m-t-15">
                                  <ng-container *ngFor="let productDesc of user.productDesc; let pdIndex = index">
                                    <label class="badge badge-warning">  {{productDesc}} </label>
                                    <br *ngIf="!((pdIndex + 1) % 3)">
                                  </ng-container>
                                  <label class="badge badge-danger" *ngIf="!user.productDesc?.length">  No Products </label>
                              </div>
                            </td>
                            <td>{{user.email}}</td>
                            <td>{{user.phoneNumber[0] || 'N/A'}}</td>
                            <td>
                              <span class="label label-warning" *ngIf="user.status === userStatus.Pause">Pause</span>
                              <span class="label label-success" *ngIf="user.status === userStatus.Ready">Ready</span>
                            </td>
                            <td>
                              {{ user.street }} <br/>
                              {{ user.city }}, {{ user.state }}, {{ user.zip }} <br />
                              ({{ user.distance | number:'1.0-2' }} miles away)
                            </td>
                            <td>
                              <button (click)="openNote(modalDefault, user)" class="btn btn-sm btn-outline-primary"
                                *ngIf="user.deliveryInstruction">
                                View Note
                              </button>
                              <span *ngIf="!user.deliveryInstruction">No Note</span>
                            </td>
                            <td>
                              <a [routerLink]="['/company/setup-delivery', user.userId]" class="btn btn-primary btn-sm"
                                *ngIf="user.status === userStatus.Ready">Setup Delivery</a>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="w-100 d-flex">
                          <ngb-pagination *ngIf="!mapView && recipients?.length"
                          class="pagination justify-content-center mx-auto mb-2"
                          [(page)]="offset"
                          [pageSize]="LIMIT"
                          [collectionSize]="recipients?.length"></ngb-pagination>
                      </div>
                     

                      <!-- start -->
                      <div class="clearfix"></div>
                      <br>
                      
                      <div class="map-toolbar">
                        <div class="row">
                          <div class="col-xl-12 text-center location-mob-btn">
                            <div class="btn-group" *ngIf="mapView">
                              <button type="button" class="btn btn-danger" id="map-unzoom">-</button>
                              <button type="button" class="btn btn-danger" id="map-resetzoom">Reset</button>
                              <button type="button" class="btn btn-danger" id="map-zoom">+</button>
                            </div>
                            &nbsp;
                            <button class="btn btn-primary" (click)="toggleListMapView()" *ngIf="mapView">List
                              View</button>
                            <button class="btn btn-success" (click)="sendRequest()" *ngIf="!mapView" [disabled]="loading">Send
                              Delivery Request</button>
                            <button class="btn btn-primary" (click)="toggleListMapView()" *ngIf="!mapView">Map
                              View</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end -->
                  </div>
                </div>
              </div>
              <!-- Google map search card end -->
            </div>
          </div>
        </div>
        <!-- Page body end -->
      </div>
    </div>
  </div>
</div>

<app-modal-basic hideFooter="true" #modalDefault>
  <div class="app-modal-header">
    <h4 class="modal-title">{{recipient.firstName}} {{recipient.lastName}}'s Note</h4>
    <button type="button" class="close basic-close" (click)="modalDefault.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="f-13 text-muted m-b-15">
        {{recipient.street}}, {{recipient.city}}, {{recipient.state}}, {{recipient.zip}}
    </div>
    <div class="m-t-15">
        <ng-container *ngFor="let productDesc of recipient.productDesc; let pdIndex = index">
          <label class="badge badge-warning">  {{productDesc}} </label>
          <br *ngIf="!((pdIndex + 1) % 3)">
        </ng-container>
        <label class="badge badge-danger" *ngIf="!recipient.productDesc?.length">  No Products </label>
    </div>
    <div class="f-13 m-b-15">
        Email(s): <span *ngFor="let email of getUniqueEmails(recipient); let isLast = last" class="text-muted"> {{ email }} {{ isLast ? '' : ', ' }}</span>
    </div>
    <div class="f-13 m-b-15">
      Phone(s): <span *ngFor="let phone of getUniquePhoneNumbers(recipient); let isLast = last" class="text-muted"> {{ phone }} {{ isLast ? '' : ', ' }}</span>
    </div>
    <p>Note: {{recipient.deliveryInstruction || "No delivery instructions"}}</p>
    <span class="label label-warning" *ngIf="recipient.status === userStatus.Pause">Pause</span>
    <span class="label label-success" *ngIf="recipient.status === userStatus.Ready">Ready</span>
  </div>
</app-modal-basic>